.nav {
    grid-area: n;
    background-color: #ababde;
    padding: 10px;
}
.item {
    margin: 10px;
}
.item a {
    color: white;
    text-decoration: none;

}
.item a.active {
    color: #8605c4;
    font-weight: bold;
}