.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem {
    padding: 10px;
}
.dialogsItem .active {
    color: #8605c4;
    font-weight: bold;
}
.dialog {
    color: white;
    margin: 10px;
}
.message {
    padding-top: 15px;
}